/*
Theme Name:     UWM Day at the Wisconsin State Fair - UWM Web Identity Child Theme Template
Theme URI:
Description:
Author:
Author URI:
Template:       uwmwebid
Version:        0.1
*/
/* Please customize the above child theme template header to reflect your organization. */
/* IMPORTANT: The value of Template must remain "uwmwebid". */

/* IMPORTANT: Please do not remove this line. It is required by the UWM Web Identity parent theme. */
@import url("../uwmwebid/style.css");
@import url("grid.css");


/* Ok! Child theme customization starts below this line. */

#landing {
  background: url("/statefair/wp-content/uploads/sites/433/2017/03/landing.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  height: calc(100vh - 140px);
  background-color: #231F20;
  text-align: center;
}


#landing h1 {
  margin-top: 8vh;
  color: #fff;
  font-size: 4.5em;
  text-shadow: 2px 2px 5px #000000;
}

.landing-breakpoint {
  display: block;
}

#landing h1::after {
    margin: 5px auto;
    content: " ";
    display: block;
    height: 5px;
    width: 35px;
    border-bottom: 4px solid #ffbd00;
}


#landing .heading {
  margin-bottom: 10px;
}

#landing .sub-heading {
  color: #fff;
  font-weight: 300;
  font-size: 3.5em;
   text-shadow: 2px 2px 5px #000000;
}

.button.landing {
  background-color: #ffbd00;
  padding: 5px 50px;
  border-radius: 0px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.75em;
  margin-top: 2.5em;
  box-shadow: 2px 2px 5px #000000;
}

.button.landing:hover {
background-color: #1babf3;
color: #fff;
}

#overview,
#organization,
#individual {
  padding: 0px 0px 75px 0px;
  font-weight: 300;
  font-size: 1.10em;
  outline:none;
}

#overview:focus,
#organization:focus,
#individual:focus {
  outline:none;
}


#overview h2,
#organization h2,
#individual h2 {
  margin-left: 20px;
}

#overview h2::before,
#individual h2::before,
#organization h2::before {
    margin: 7px 0px;
    content: " ";
    display: block;
    height: 5px;
    width: 35px;
    border-bottom: 4px solid #ffbd00;
}

#overview p {
  padding-top: 5px;
}

#overview:focus,
#organization:focus,
#individual:focus {
  border: none;
}


#organization-image {
  background: url("/statefair/wp-content/uploads/sites/433/2017/03/departments.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  height: 60vh;
}

#individual-image {
  background: url("/statefair/wp-content/uploads/sites/433/2017/03/photo-booth.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  height: 60vh;
}

#footer-image {
  background: url("/statefair/wp-content/uploads/sites/433/2017/03/panther.jpg") no-repeat top center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  height: 60vh;
}

#organization blockquote {
  margin: 0px;
  font-size: 1.55em;
  font-style: normal;
  font-weight: 300;
  line-height: 1.20;
}

#organization a,
#individual a{
  color: #000;
}

#individual blockquote {
  margin: 0px;
  font-size: 1.50em;
  font-style: normal;
  font-weight: 300;
  line-height: 1.20;
}

blockquote,
p{
margin-bottom: 5px;
}

#organization blockquote,
.page-id-12 p{
margin-bottom: 5px;
padding-left: 25px;
}

.org-footnote p{
  padding-top: 35px;
}

.join-us-button{
  background-color: #ffbd00;
  padding: 5px 50px;
  border-radius: 0px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.75em;
  margin-top: 15px;
  box-shadow: 2px 2px 5px #000000;
}

.join-us-button:hover{
  text-decoration: none;
  background-color: #1babf3;
  color: #fff !important;
}


i.citation {
  float: right;
  position: relative;
  right: 45px;

}

i.citation::after {
  content: " ";
  clear: both;
}

#highlights ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#highlights ul li {
  font-weight: 300;
  border-top: 1px solid #b7b7b7;
  padding: 15px 0px;
}

/* Media Queries */

/* Tablet */

@media (max-width: 989px) {
  #landing h1 {
    margin-top: 13vh !important;
    font-size: 3.5em;
  }

  #landing .sub-heading {
    font-size: 2.5em;
  }


  .button.landing {
    margin-top: 35px;
    margin-bottom: 10px;
  }

  #organization blockquote,
  #individual blockquote {
    font-size: 1.25em;
  }

  #organization blockquote,
  p{
  margin-bottom: 5px;
  padding-left: 0px;
  }

  i.citation {
    margin-bottom: 15px;
  }


}

/* Mobile */

@media (max-width: 480px) {
      #landing {
        background: url("/statefair/wp-content/uploads/sites/433/2017/03/landing.jpg") no-repeat center top;
              -webkit-background-size: auto ;
              -moz-background-size: auto;
              -o-background-size: auto;
              background-size: auto;
        background-color: #231F20;
        text-align: center;
        height: 75vh;
      }

      #landing h1{
        margin-top: 5vh;
        font-size: 2em;
      }

      .landing-breakpoint {
        display: inline;
      }

      #landing .sub-heading{
        font-size: 1.5em;
      }

      .button.landing {
        margin-top: 35px;
        margin-bottom: 10px;
      }

      #organization-image {
      background: url("/statefair/wp-content/uploads/sites/433/2017/03/departments.jpg") no-repeat center top;
              -webkit-background-size: auto 60vh;
              -moz-background-size: auto 60vh;
              -o-background-size: auto 60vh;
              background-size: auto 60vh;
    }

    #individual-image {
      background: url("/statefair/wp-content/uploads/sites/433/2017/03/photo-booth.jpg") no-repeat center top;
              -webkit-background-size: auto 60vh;
              -moz-background-size: auto 60vh;
              -o-background-size: auto 60vh;
              background-size: auto 60vh;
    }

    #footer-image {
      background: url("/statefair/wp-content/uploads/sites/433/2017/03/panther.jpg") no-repeat center top;
              -webkit-background-size: auto 60vh;
              -moz-background-size: auto 60vh;
              -o-background-size: auto 60vh;
              background-size: auto 60vh;
    }

    i.citation{
      right: auto;
    }

    #organization blockquote,
    #individual blockquote,
    p{
    padding-top: 20px;
    }

}
